html {
  position: relative;
  min-height: 100%;
}

body {
    color:#eee;
    margin-bottom: 60px;

    background: rgba(40,112,130,1);
    background: -moz-linear-gradient(-45deg, rgba(40,112,130,1) 0%, rgba(14,49,59,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40,112,130,1)), color-stop(100%, rgba(14,49,59,1)));
    background: -webkit-linear-gradient(-45deg, rgba(40,112,130,1) 0%, rgba(14,49,59,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(40,112,130,1) 0%, rgba(14,49,59,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(40,112,130,1) 0%, rgba(14,49,59,1) 100%);
    background: linear-gradient(135deg, rgba(40,112,130,1) 0%, rgba(14,49,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287082', endColorstr='#0e313b', GradientType=1 );    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #111;
    color:#eee;
}

form{
    margin:20px;
}

.list-group-item{
    margin-bottom: 5px;
}